*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: #10011A;
  font-family: Lato, sans-serif;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  height: 50em;
}

.contenedor-principal{
  width: 500px;
  height: 600px;
  background-color: #2E1242;
  border-radius: 30px;
}

.logo-contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: #fff;
  gap: 20px;
}

.logo {
  height: 100px;
}

.contenedor-contador {
  height: 400px;
  min-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}